{% extends "base.html.j2" %}

{% set title = "Inactive account" %}

{% block content %}
  <h2>Your account has not been activated yet.</h2>

  <p>To use your account you need to activate it using the link sent to your email.</p>

  <p>If you need another activation link, please <a href="{{url_for('auth.resend_activation')}}">click here</href></p>
{% endblock %}
