{% extends "base.html.j2" %}

{% set title = "Log in" %}

{% block page_header %}Log In{% endblock %}

{% block content %}
{{macros.make_form(form)}}
<p style="font-size: smaller;">New user? <a href="{{url_for('.register')}}">Click to register.</a> </p>
{% endblock %}
