@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
         url('static/fonts/FiraSans-Hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair Italic'),
         url('static/fonts/FiraSans-HairItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight'),
         url('static/fonts/FiraSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight Italic'),
         url('static/fonts/FiraSans-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url('static/fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'),
         url('static/fonts/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('static/fonts/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
         url('static/fonts/FiraSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'),
         url('static/fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'),
         url('static/fonts/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold'),
         url('static/fonts/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold Italic'),
         url('static/fonts/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url('static/fonts/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
         url('static/fonts/FiraSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold'),
         url('static/fonts/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold Italic'),
         url('static/fonts/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy'),
         url('static/fonts/FiraSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy Italic'),
         url('static/fonts/FiraSans-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono'),
         url('static/fonts/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono Bold'),
         url('static/fonts/FiraMono-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('static/fonts/SourceSerifPro-ExtraLight.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-ExtraLightIt.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-Light.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-LightIt.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-Regular.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-It.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-Semibold.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-SemiboldIt.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-Bold.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-BoldIt.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-Black.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('static/foonts/SourceSerifPro-BlackIt.otf.woff2') format('woff2');
}
