:root {
    --font-serif: 'Source Serif Pro', serif;
    --font-sans: 'Fira Sans', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --thin-border: 0.0625rem;
    font-family: var(--font-serif);
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
    background-color: #FFF;
    color: #333;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
body > * + * {
    margin-top: 1.5rem;
}
body > :first-child {
    margin-top: 0;
}
body > :last-child {
    margin-bottom: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #425;
    font-family: var(--font-sans);
    border-radius: 0.5rem;
    padding: 1rem;
}
.navbar > ul {
    list-style: none;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-inline-start: 0;
}
.navbar > ul > li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 0rem;
}
.navbar > ul > li > a {
    color: #EAF;
}
.messages {
    margin: 0;
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}
footer {
    background-color: #f5f5f5;
    margin-bottom: 1rem;
}
footer {
    padding-left: 2rem;
}
footer > p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}
h1 {
    border-bottom-color: #adadad;
    border-bottom-style: solid;
    border-width: var(--thin-border);
    padding-bottom: 0.5rem;
}
a {
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: underline;
}
code, samp {
    font-family: var(--font-mono);
    background-color: #FCF;
    border-radius: 0.5rem;
    padding: var(-hr-width);
}
form {
    font-family: var(--font-sans);
    width: 20rem;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input {
    display: block;
    border-color: #adadad;
    border-style: solid;
    border-width: var(--thin-border);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
input[type="text"], input[type="password"] {
    width: 100%;
}
input[type="checkbox"] {
    display: inline-block;
}
input[type="submit"] {
    background-color: #e6e6e6;
    border-color: #adadad;
    border-style: solid;
    border-width: var(--thin-border);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
}
input[type="submit"]:focus, input[type="submit"]:hover {
    background-color: #F9F9F9
}
.dialog-dismiss {
    float: right;
}
ul.demos {
    list-style: none;
}
div.demo-thumbnail {
    position: absolute;
    width: 3rem;
    height: 3rem;
}
div.demo-description {
    margin-left: 3rem;
    min-height: 3rem;
}
ul.blog-posts {
    list-style: none;
    padding-inline-start: 0;
}
li.post {
    border-bottom-color: #d6d6d6;
    border-bottom-style: solid;
    border-width: var(--thin-border);
}
.post h2 {
    margin-bottom: 0;
}
nav.post-footer {
    text-align: right;
}
div.pagination {
    display: inline-block;
}
ul.pagination {
    list-style: none;
}
ul.pagination > li {
    display: inline;
}
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 16.5rem;
    margin-left: 18rem;
}
