<ul class="comments">
  {%- for comment in comments recursive %}
  <li class="comment">
    <header class="comment">
      <div class="comment-author">
        <a href="{{url_for('.user', username=comment.author.username)}}">
          <img class="profile-thumbnail" src="{{comment.author.avatar(size=40)}}" alt="{{comment.author.username}}'s avatar.">
        </a>
        <a href="{{url_for('.user', username=comment.author.username)}}">
          {{comment.author.username}}
        </a>
      </div>
      <time class="post-date" datetime="{{comment.timestamp}}"></time>
    </header>
    <article class="comment-body">
      {% if comment.disabled %}
      <p><i>Comment deleted.</i></p>
      {% endif %}
      {% if moderate or not comment.disabled %}
      {{comment.body_html}}
      {% endif %}
    </article>
    <footer class="comment">
      {% if current_user == comment.author %}
      <a href="{{url_for('.edit_comment', id=comment.id)}}" class="label label-primary">
        Edit
      </a>
      {% elif current_user.can(Permission.MODERATE) %}
      <a href="{{url_for('.edit_comment', id=comment.id)}}" class="label label-danger">
        Edit [Admin]
      </a>
      {% endif %}
      <a href="{{url_for('.reply_to_comment', id=comment.id)}}" class="label label-default">Reply</a>
    </footer>
    {%- if comment.children -%}
    <ul class="comments">{{loop(comment.children)}}</ul>
    {%- endif %}
  </li>
  {% endfor %}
</ul>
