<ul class="blog-posts">
  {% for post in posts %}
  <li class="post-digest">
    <header>
      <h2><a href="{{url_for('.post', slug=post.slug)}}">{{post.title}}</a></h2>
      <time class="post-date" datetime="{{post.timestamp}}"></time>
    </header>
    <article>
      <img class="post-thumbnail" src="{{url_for('static', filename='img/_thumbnail.png')}}">
      <p>{{post.summary}}</p>
    </article>
    <footer>
      <nav>
        <a href="{{url_for('.post', slug=post.slug)}}" class="label label-default">
          Permalink
        </a>
        <a href="{{url_for('.post', slug=post.slug)}}#comments" class="label label-primary">
          {{post.comments.count()}} Comments
        </a>
        {% if current_user == post.author %}
        <a href="{{url_for('.edit_post', slug=post.slug)}}" class="label label-primary">
          Edit
        </a>
        {% elif current_user.is_admin() %}
        <a href="{{url_for('.edit_post', slug=post.slug)}}" class="label label-danger">
          Edit [Admin]
        </a>
        {% endif %}
      </nav>
    </footer>
  </li>
  {% endfor %}
</ul>
