{% extends "base.html.j2" %}
{# {% import "_macros.html.j2" as macros %} #}

{% set title = "About me" %}

{% block page_header %}
About me
{% endblock %}

{% block content %}
<article>
  <h2>This is me.</h2>
  <p>Presumably there's some interesting stuff to say about myself.</p>
</article>
{% endblock %}
