{% import "_macros.html.j2" as macros %}
{% block doc -%}
  <!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
    <head>
      {%- block head %}
        <title>{% block title %}{{title + " - Kyle's junk"|default}}{% endblock title %}</title>
        <link rel="shortcut icon" type="'image/png" href="{{url_for('static', filename='favicon.png')}}">
        <link rel="icon" type="'image/png" href="{{url_for('static', filename='favicon.png')}}">

        {%- block metas %}
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
          {# <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet"> #}
          {# <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> #}
          <link rel="stylesheet" href="{{url_for('static', filename='my-styles.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='fira.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='source-serif-pro.css')}}">
        {%- endblock styles %}
      {%- endblock head %}
    </head>

    <body{% block body_attribs %}{% endblock body_attribs %}>
      {% block body -%}
        {% block header %}
          {% block navbar %}
            <nav class="navbar">
              <ul>
                <li><a href="{{url_for('main.index')}}">kyledavi.es</a></li>
                <li><a href="{{url_for('main.blog')}}">Blog</a></li> 
                <li><a href="{{url_for('main.demos')}}">Demos</a></li> 
                <li><a href="{{url_for('main.about_me')}}">About Me</a></li> 
              </ul>
              <ul>
                {% if current_user.is_anonymous %}
                  <li><a href="{{url_for('auth.login')}}">Login/Register</a></li>
                {% else %}
                  <li><a href="{{url_for('main.user', username=current_user.username)}}">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
              {% endif %}
              </ul>
            </nav>
          {%- endblock navbar %}
          <div class="messages">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <dialog class="alert alert-info" role="alert">{{message}}</dialog>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        {% endblock header %}
        <main>
          <h1>
            {% block page_header %}
              {% if current_user.is_anonymous %}
                Welcome to Kyle's junk!
              {% else %}
                Hello, {{current_user.username}}!
              {% endif %}
            {% endblock page_header %}
          </h1>
          {% block content %}{% endblock %}
        </main>
        {% block footer -%}
          <footer>
            <p>&copy; 2019 Kyle F. Davies</p>
          </footer>
        {%- endblock footer %}

        {% block scripts %}
          {# <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script> #}
          {# <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script> #}
          {# {{moment.include_moment()}} #}
          <script src="{{url_for('static', filename='Markdown.Converter.min.js')}}"/>
          <script src="{{url_for('static', filename='Markdown.Sanitizer.min.js')}}"/>
          <script src="{{url_for('static', filename='moment-with-locales.min.js')}}"/>
        {%- endblock scripts %}
      {%- endblock body %}
    </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
