{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% set title = "Blog" %}

{% block page_header %}
Blog posts
{% endblock %}
{% block content %}
{% include "_posts.html.j2" %}
{{macros.pagination_widget(pagination, ".blog")}}
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
<script src="{{url_for('static', filename='js/render-moment.js')}}"></script>
{% endblock %}
