{% extends "base.html.j2" %}

{% set title = "Blog" %}

{% block content %}
  <ul class="blog-posts">
    <li class="blog-post">
      <h2>This is a blog post</h2>
      <p>It is OK.</p>
    </li>
  </ul>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
{% endblock %}
