{% extends "base.html.j2" %}

{% set title = "Comment" %}

{% block page_header %}Reply to comment{% endblock page_header %}
{% block content %}
  {% include "_comments.html.j2" %}
  {{macros.make_form(form)}}
{% endblock %}

{# {% block scripts %} #}
{#   {{super()}} #}
{#   {{pagedown.include_pagedown()}} #}
{# {% endblock %} #}
