{% extends "base.html.j2" %}

{% set title = "Demos" %}

{% block content %}
<ul class="demos">
  {%- for demo in demos %}
  <li class="demo">
    <h2><a href="/demos/{{demo.slug}}">{{demo.title}}</a></h2>
    <p class="demo-description">
      <a href="/demos/stars">
        <img class="demo-thumbnail" src="{{url_for('.img', filename=demo.thumbnail.filename)}}" alt="demo.thumbnail.alt_text">
      </a>
      {{demo.summary}}
    </p>
  </li>
  {% endfor -%}
</ul>
{% endblock %}
