{% extends "base.html.j2" %}
{# {% import "_macros.html.j2" as macros %} #}

{% block title %}Home - Kyle's junk{% endblock %}

{% block app_content %}
  <div class="page-header">
    <h1>
      {% if current_user.is_anonymous %}
        Welcome to Kyle's junk!
      {% else %}
        Hello, {{current_user.username}}!
      {% endif %}
    </h1>
  </div>

  <ul class="demos">
    <li class="demo">
      <div class="img-fluid demo-thumbnail">
        <a href="/demos/stars">
          <img class="demo-thumbnail" src="/static/stars-resize.png">
        </a>
      </div>
      <div class="demo-description">
        <h2>HTML5 star map</h2>
        <p>
          A visualization of the night sky, using the HTML <code>canvas</code> tag. A description of how I made this is available <a href="/posts/1">here</a>.
        </p>
      </div>
    </li>
  </ul>
{% endblock %}

{% block scripts %}
  {{super()}}
  {{pagedown.include_pagedown()}}
{% endblock %}
