{% extends "base.html.j2" %}

{% set title = "Edit comment" %}

{% block page_header %}Edit comment{% endblock page_header %}
{% block content %}
  {{macros.make_form(form)}}

  {% if comment.disabled %}
    <a class="btn btn-default btn-xs" href="{{url_for('.enable_comment', id=comment.id)}}">Undelete</a>
  {% else %}
    <a class="btn btn-danger btn-xs" href="{{url_for('.disable_comment', id=comment.id)}}">Delete</a>
  {% endif %}
{% endblock %}
