{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% set title = "Home" %}
{% block content %}
{% include "_posts.html.j2" %}
{{macros.pagination_widget(pagination, ".index")}}
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/render-moment.js')}}"></script>
{% endblock %}
