{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% set title = "Home" %}
{% block content %}
  <div>
    {% if current_user.can(Permission.WRITE) %}
      {{macros.make_form(form)}}
    {% endif %}
  </div>

  {% include "_posts.html.j2" %}
  <div class="pagination">
    {{macros.pagination_widget(pagination, ".index")}}
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  {{pagedown.include_pagedown()}}
{% endblock %}
