{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% set title = "Post" %}

{% block content %}
  {% include "_posts.html.j2" %}
  <div class="comments">
  <h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
      {{macros.make_form(form)}}
    {% endif %}
  {% include "_comments.html.j2" %}
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  {{pagedown.include_pagedown()}}
{% endblock %}
