{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% set title = post.title %}

{% block page_header %}
{{post.title}}
{% endblock %}

{% block content %}
<article>
  {{post.body}}
</article>
<div class="comments">
  <h3 id="comments">Comments</h3>
  {% if current_user.can(Permission.COMMENT) %}
  {{macros.make_form(form)}}
  {% endif %}
  {% include "_comments.html.j2" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
<script src="{{url_for('static', filename='js/render-moment.js')}}"></script>
{% endblock %}
